.main-footer {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.main-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    color: $primary-text;
    background: $white-shade;
    border-top: 1px solid #c8ced3;
}